# --------------------------------------------------------------------------
# Systemd service definition: wait for time synchronization and then set
# rtc time. This also updates the rtc again during shutdown.
#
# Author: Bernhard Bablok
# License: GPL3
#
# Website: https://github.com/bablokb/cm4io_rtcctl
# --------------------------------------------------------------------------

[Unit]
Description=Maintain PCF85063A
After=time-sync.target
Wants=time-sync.target
Conflicts=shutdown.target
 
[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/usr/local/sbin/cm4io_rtcctl.py set date
ExecStop=/usr/local/sbin/cm4io_rtcctl.py set date

[Install]
WantedBy=basic.target
